a{
    text-decoration: none;
    color: black;
}

.Header_logout{
    display : none;
}

@media screen and (max-width: 918px){
    .Header{
      flex-direction: column;
    }
    .Header_menu{
      flex-direction: column;
    }
  }
  
  